
@{
    ViewBag.Title = "AddHizmet";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}
<h2>Yeni Servis Ekleme Sayfası</h2>
<form method="post">
    <label>Servis Başığı</label>
    <input type="text" name="ServiceTitle" class="form-control" />
    <br />
    <label>Servis İkonu</label>
    <input type="text" name="ServiceIcon" class="form-control" />
    <br />
    <label>Servis Açıklaması</label>
    <input type="text" name="ServiceContent" class="form-control" />

    <button class="btn btn-info">Projeyi Kaydet</button>
</form>


