<div class="py-5 w3l-resume">
    <div class="container py-lg-5 py-3">
        <h5 class="title-small mb-2"> My resume</h5>
        <h3 class="title-big mb-4">I Would Love to make your Ideas real </h3>
        <p>
            I love graphic design and photography and have been working on my portfolio since 2016. You can download my
            resume in order to learn the details of my professional life as a designer and photographer. Contact me and
            we will discuss your projects!
        </p>
        <div class="mt-5">
            <a href="#download" class="btn btn-style btn-primary">Download resume</a>
        </div>
    </div>
</div>
