<section class="w3l-grid-quote text-center py-5">
    <div class="container py-3">
        <h6 class="title-small">Benimle İletişime Geç</h6>
        <h3 class="title-big mb-md-5 mb-4">Bir Proje Başlatalım!</h3>
        <a href="contact.html" class="btn btn-style btn-primary mr-2">Beni işe Al </a>
        <a href="contact.html" class="btn btn-style btn-outline-primary">İletişime Geç</a>
    </div>
</section>
