
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}



<h2>Yeni Proje Ekleme Sayfası</h2>
<form method="post">
    <label>Proje İsmi</label>
    <input type="text" name="ProjectName" class="form-control" />
    <br />
    <label>Proje Açıklaması</label>
    <input type="text" name="ProjectDes" class="form-control" />
 
    <button class="btn btn-info">Projeyi Kaydet</button>
</form>

